# Ignore node_modules directory
**/node_modules/

# Ignore samconfig.toml file
samconfig.toml

# Ignore sam package file
packaged.yaml

# Ignore cdk out files
atlas-aws-bootstrap-cdk/.cdk.staging
atlas-aws-bootstrap-cdk/cdk.out

# Ignore .aws-sam directory
.aws-sam/